/* custom font icons */
@import "font-icons/style.css";

/* hightlight.js for syntax highlighting */
@import "github.css";

@import "codemirror.css";

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-family: 'Roboto', sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-size: 13px;
  line-height: 20px;
}

/* Used in our inline-styles.jsx as an example */
.muidocs-checkbox-example {
  border: 2px solid #FF9800;
  background-color: #4CAF50;
}

/******************* REACT SCROLL TABS BASIC STYLING **********************/

.scroll_tabs_container {
  display: block !important;
  position: relative;
  top: 0px;
  left: 48px;
  bottom: auto;
  height: 48px;
  overflow: hidden;
  padding: 0;
  width: calc(100% - 2 * 48px) !important;
}

ul.scroll_tabs_container {
  list-style: none;
}

.scroll_tabs_container div.scroll_tab_inner {
  height: 69px;
  -moz-user-select: none;
  margin-bottom: -16px !important;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0px;
  box-sizing: border-box;
}

.scroll_tabs_container div.scroll_tab_inner::-webkit-scrollbar {
  display: none;
}

.scroll_tabs_container div.scroll_tab_inner span, .scroll_tabs_container div.scroll_tab_inner li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.scroll_tabs_container div.scroll_tab_inner li {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  list-style-type: none;
}

.scroll_tab_l_finisher,
.scroll_tab_r_finisher {
  padding: 0px;
  width: 10px;
  zoom: 1;
  -webkit-user-select: none;
}

.scroll_arrow_disabled {
  color: rgba(255, 255, 255, 0.3) !important;
}

.scrollindicator {
  position: absolute;
  top: 0;
  line-height: 48px !important;
  height: 48px;
  width: 48px;
  margin-right: 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scrollindicator.scrollindicator--r {
  right: 0;
}

.scrollindicator.scrollindicator--l {
  left: 0;
}

.hidden {
  display: none !important;
}
